BasedOnStyle: LLVM
Language: Cpp
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortCaseExpressionOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
InsertBraces: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
FixNamespaceComments: false
PointerAlignment: Right
ReferenceAlignment: Right
ReflowComments: false
SortIncludes: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
Standard: Latest
UseTab: Never
